<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="appId" value="138300510292672512"/>
    <add key="appSecret" value="DUPsunmpVFNKqAId6hI"/>
    <add key="CORP_ID" value="3942732"/>
    <add key="telRecordUrl" value="https://open.workec.com/record/telRecord"/>
  </appSettings>
</configuration>
